.rmdb-header {
  width: 100%;
  height: auto;
  background: #000;
  padding: 0 20px;
  box-sizing: border-box;
}

.rmdb-header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fas {
  color: #fff;
}

@media screen and (max-width: 500px) {
  .rmdb-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .rmdb-tmdb-logo {
    display: inline-block;
    width: 80px;
    margin-top: 0px;
  }

  .rmdb-logo {
    width: 150px;
    margin-top: 5px;
  }
}
